version: 2.1

orbs:
  python: circleci/python@0.2.1

jobs:
  build-and-test:
    executor: python/default
    steps:
      - checkout
      - python/load-cache
      - run:
          command: pip install --user -r requirements_test.txt
      - python/save-cache
      - run:
          command: python -m pytest
          name: Test

workflows:
  main:
    jobs:
      - build-and-test
